<a href="https://colab.research.google.com/github/Aditi31kapil/python-/blob/main/06_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Quickstart
## Dictionaries

In [1]:
#Create a dictionary
capitals = {"INDIA" : "New Delhi", "USA" : "Washington DC", "UK" : "London" }

In [2]:
#Retrive value of a key
capitals["USA"]

'Washington DC'

In [3]:
#Retrieve value of a key
capitals["INDIA"]

'New Delhi'

In [4]:
#Case sensitive
capitals["India"]

KeyError: 'India'

In [5]:
#Length of a dictionary
len(capitals)

3

In [6]:
#Built-in function to get the keys
capitals.keys()

dict_keys(['INDIA', 'USA', 'UK'])

In [7]:
#Built-in function to get values
capitals.values()

dict_values(['New Delhi', 'Washington DC', 'London'])

In [8]:
#Retrive all the key - value pairs
capitals.items()

dict_items([('INDIA', 'New Delhi'), ('USA', 'Washington DC'), ('UK', 'London')])

In [9]:
#Adding a key - value pair
capitals["SRI LANKA"] = "Colombo"

In [10]:
#New length of dictionary
len(capitals)

4

In [11]:
#Order of key-value pairs get changed
capitals

{'INDIA': 'New Delhi',
 'USA': 'Washington DC',
 'UK': 'London',
 'SRI LANKA': 'Colombo'}

In [12]:
capitals["AFGHANISTAN"] = "Kabul"

In [13]:
#Update an existing dictionary
capitals["AFGHANISTAN"] = "KABUL"

In [14]:
capitals

{'INDIA': 'New Delhi',
 'USA': 'Washington DC',
 'UK': 'London',
 'SRI LANKA': 'Colombo',
 'AFGHANISTAN': 'KABUL'}

In [15]:
# keys can be tuples
capitals[(23,45)] = "Number"

In [16]:
capitals

{'INDIA': 'New Delhi',
 'USA': 'Washington DC',
 'UK': 'London',
 'SRI LANKA': 'Colombo',
 'AFGHANISTAN': 'KABUL',
 (23, 45): 'Number'}

In [17]:
for k in capitals.keys():
  print (capitals[k])

New Delhi
Washington DC
London
Colombo
KABUL
Number

In [18]:
for k in capitals.keys():
  print (k, capitals[k])

INDIA New Delhi
USA Washington DC
UK London
SRI LANKA Colombo
AFGHANISTAN KABUL
(23, 45) Number

In [19]:
#Letter count
letterCount = {}

In [20]:
s = '''TalentSprint is a digital platform designed to transform
the lives of professionals in the new economy. Its blended bootcamps
offer deeptech skills.'''

In [21]:
for ch in s :
  ch = ch.lower()
  if ch not in letterCount:
    letterCount[ch] = 1
  else:
    letterCount[ch] += 1

In [22]:
letterCount

{'t': 12,
 'a': 7,
 'l': 8,
 'e': 15,
 'n': 9,
 's': 12,
 'p': 5,
 'r': 6,
 'i': 10,
 ' ': 20,
 'd': 6,
 'g': 2,
 'f': 6,
 'o': 11,
 'm': 4,
 '\n': 2,
 'h': 3,
 'v': 1,
 'w': 1,
 'c': 3,
 'y': 1,
 '.': 2,
 'b': 2,
 'k': 1}

In [23]:
letterCount.keys()

dict_keys(['t', 'a', 'l', 'e', 'n', 's', 'p', 'r', 'i', ' ', 'd', 'g', 'f', 'o', 'm', '\n', 'h', 'v', 'w', 'c', 'y', '.', 'b', 'k'])

### collections
#### Counter

In [24]:
import collections
## Create a new Counter() object called frequencies
frequencies = collections.Counter()

## iterate through each letter in the sentence
for letter in s:

    ## update the frequencies object with each letter.
    ## the bookkeeping is done by the Counter()
    frequencies.update(letter)

print(frequencies)

Counter({' ': 20, 'e': 15, 't': 11, 's': 11, 'o': 11, 'n': 9, 'i': 9, 'l': 8, 'a': 7, 'r': 6, 'd': 6, 'f': 6, 'p': 5, 'm': 4, 'h': 3, 'c': 3, 'g': 2, '\n': 2, '.': 2, 'b': 2, 'T': 1, 'S': 1, 'v': 1, 'w': 1, 'y': 1, 'I': 1, 'k': 1})

As you can see the Counter() made it very simple to calculate the frequencies. It has a minor flaw. It is not likely that we want to count upper case and lower case letters separately. We make the change below:

In [25]:
import collections

## Create a new Counter() object called frequencies
frequencies = collections.Counter()

## iterate through each letter in the sentence
for letter in s:

    ## update the frequencies object with each letter.
    ## the bookkeeping is done by the Counter()
    ## convert letter to lower case first
    frequencies.update(letter.lower())

print(frequencies)

Counter({' ': 20, 'e': 15, 't': 12, 's': 12, 'o': 11, 'i': 10, 'n': 9, 'l': 8, 'a': 7, 'r': 6, 'd': 6, 'f': 6, 'p': 5, 'm': 4, 'h': 3, 'c': 3, 'g': 2, '\n': 2, '.': 2, 'b': 2, 'v': 1, 'w': 1, 'y': 1, 'k': 1})

By the way, Counter() is smart enough to count the individual elements, if a sequence of them is given. So we can do the above much more simply!

In [26]:
import collections
frequencies = collections.Counter(s.lower())

print(frequencies)

Counter({' ': 20, 'e': 15, 't': 12, 's': 12, 'o': 11, 'i': 10, 'n': 9, 'l': 8, 'a': 7, 'r': 6, 'd': 6, 'f': 6, 'p': 5, 'm': 4, 'h': 3, 'c': 3, 'g': 2, '\n': 2, '.': 2, 'b': 2, 'v': 1, 'w': 1, 'y': 1, 'k': 1})

Counter offers a lot more functionality

In [27]:
lett_freq = collections.Counter(s.lower())
lett_freq.most_common(5)

[(' ', 20), ('e', 15), ('t', 12), ('s', 12), ('o', 11)]

As you can see we fed a sentence and got back the top-5 frequently occurring characters, with their frequencies. So let us now write a function that finds the most frequently occurring **letter** in a given sentence.

In [34]:
def mostFreqLetter(s):
    import collections
    freq = collections.Counter()
    for ch in s:
        ch = ch.lower()
        if 'a' <= ch <= 'z':
            freq.update(ch)
    return freq.most_common(1)[0]

In [35]:
mostFreqLetter("Old brother fox jumps over the lzay dog in this pangram of English")

('r', 4)

**Counter() cannot count individual floats or integers**

In [42]:
f = [8, 1.2, 1.6, 3.2, 1, 1.2, 5, 600, 1, 3, 1.2, ]
import collections
freq = collections.Counter()
for n in f:
    freq.update(str(n))
print(freq)

Counter({'1': 6, '.': 5, '2': 4, '6': 2, '3': 2, '0': 2, '8': 1, '5': 1})

But this will work

In [37]:
f = [8, 1.2, 1.6, 3.2, 1, 1.2, 5, 600, 1, 3, 1.2, ]
import collections
freq = collections.Counter()
freq.update(f)
print(freq)
print(freq.most_common(2))

Counter({1.2: 3, 1: 2, 8: 1, 1.6: 1, 3.2: 1, 5: 1, 600: 1, 3: 1})
[(1.2, 3), (1, 2)]